* {
    border: none;
    border-radius: 10px;
    font-family: "JetbrainsMono Nerd Font" ;
    font-size: 17px;
    min-height: 10px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    transition: none;
    color: transparent;
    background: transparent;
}
#workspaces {
    margin-top: 0px;
    margin-left: 12px;
    font-size: 4px;
    margin-bottom: 5px;
    border-radius: 0px;
    background: #000000;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #9666ff;
    background: transparent;
    font-size: 16px;
    border-radius: 0px;
}

#workspaces button.occupied {
    transition: none;
    color: #1e90ff;
    background: transparent;
    font-size: 4px;
}

#workspaces button.active {
    color: #9666ff;
    border-top: 2px solid #9666ff;
    border-bottom: 2px solid #9666ff;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #1e90ff;
    border-color: #1e90ff;
    color: #1e90ff;
}

#workspaces button.active:hover {
    color: #1e90ff;
}

#network {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 18px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#wireplumber {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#battery {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#battery.charging, #battery.plugged {
    border: 2px solid #9666ff;
    color: #9666ff;
    background-color: #000000;
}

#battery.critical:not(.charging) {
    border: 2px solid #9666ff;
    background-color: #000000;
    color: #9666ff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #9666ff;
    }
}

#backlight {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#bluetooth {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#clock {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
    /*background: #1A1826;*/
}

#memory {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#cpu {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#tray {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 10px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#custom-launcher {
    border: 2px solid #9666ff;
    font-size: 24px;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#custom-power {
    border: 2px solid #9666ff;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#custom-wallpaper {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}

#custom-spotify {
    border: 2px solid #9666ff;
    margin-top: 0px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    transition: none;
    color: #9666ff;
    background: #000000;
}
